.btn-add {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;

  @media screen and (max-width: 1200px) {
    width: 18px;
    height: 18px;
    font-size: 14px;
  }

  @media screen and (max-width: 900px) {
    width: 16px;
    height: 16px;
    font-size: 12px;
  }

  @media screen and (max-width: 600px) {
    width: 14px;
    height: 14px;
    font-size: 10px;
    padding-top: 1px;
  }

  &:hover {
    background-color: rgb(255, 238, 141);
    color: #000;
    border: none;
  }
}
