th,
td {
  border: 1px solid #4e4d4d;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  text-align: right;
}

.portfolio {
  &__content {
    color: #000;
    width: 600px;
  }

  &__name {
    text-align: center;
    margin-bottom: 30px;
  }

  &-table {
    width: 100%;
    border-collapse: collapse;

    &__currency-ticker {
      margin-left: 5px;
      color: #6e645b;
    }
  }

  &__empty {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .portfolio {
    &__content {
      width: 500px;
    }

    &__name {
      font-size: 19px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .portfolio {
    &__content {
      width: 400px;
    }

    &__name {
      font-size: 17px;
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 600px) {
  .portfolio {
    &__content {
      width: 300px;
    }

    &__name {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
}
