.table {
  width: 100%;
  min-height: 349px;
  border-collapse: collapse;
  margin-top: 60px;

  @media screen and (max-width: 1200px) {
    min-height: 336px;
  }

  @media screen and (max-width: 900px) {
    min-height: 437px;
    margin-top: 40px;
  }

  @media screen and (max-width: 600px) {
    min-height: 431px;
    margin-top: 30px;
  }

  &-head {
    color: rgb(255, 238, 141);

    &__cell {
      border: 1px solid #4e4d4d;
      border-left: 0;
      border-right: 0;
      padding: 5px;
      text-align: right;

      @media screen and (max-width: 900px) {
        padding: 3px;
      }

      &_btn {
        width: 3%;

        @media screen and (max-width: 900px) {
          width: 3.9%;
        }

        @media screen and (max-width: 600px) {
          width: 3%;
        }
      }

      &_rank {
        width: 4%;

        @media screen and (max-width: 900px) {
          width: 4.8%;
        }

        @media screen and (max-width: 600px) {
          width: 4%;
        }
      }

      &_name {
        width: 21%;

        @media screen and (max-width: 900px) {
          width: 17.8%;
        }

        @media screen and (max-width: 600px) {
          width: 25%;
        }
      }

      &_price {
        width: 9%;

        @media screen and (max-width: 900px) {
          width: 11.3%;
        }

        @media screen and (max-width: 600px) {
          width: 20%;
        }
      }

      &_percent {
        width: 7%;

        @media screen and (max-width: 900px) {
          width: 8%;
        }

        @media screen and (max-width: 600px) {
          width: 10%;
        }
      }

      &_avgprice {
        width: 11.5%;

        @media screen and (max-width: 900px) {
          width: 11.3%;
        }

        @media screen and (max-width: 600px) {
          width: 20%;
        }
      }

      &_mcap {
        width: 10%;

        @media screen and (max-width: 900px) {
          width: 10.2%;
        }

        @media screen and (max-width: 600px) {
          width: 18%;
        }
      }

      &_volume {
        width: 8.5%;

        @media screen and (max-width: 900px) {
          width: 10.7%;
        }
      }

      &_supply {
        width: 13.5%;

        @media screen and (max-width: 900px) {
          width: 12.7%;
        }
      }

      &_maxsupply {
        width: 12.5%;

        @media screen and (max-width: 900px) {
          width: 9.5%;
        }
      }
    }
  }
}
